#wrapper {
	/*text-align: left;*/
	margin: 0px auto;
	padding: 0px;
	border:0;
	width: 800px;
}

#header {
	margin: 0 0 15px 0;
	/*background: white;*/
}

#side-a {
	float: left;
	width: 200px;
}

/*#side-b {
	float: right;
	width: 200px;
}*/

#content { 
	float: left;
	/*width: 56%;*/
	overflow: auto;
}

#footer {
	clear: both;
	/*background: #ffffff;*/
}

p {
	color: white;
	font-size: 98%;
	/*font-family: arial,sans-serif;*/
	text-indent: 15px;
	width:500;
}

.titulo {
 /*text-align: center;*/
}

.link {
	font-weight: bold;
	text-decoration: none;
	padding: 2px;
	color: white;
	font-weight: bold;
}
/*.link {
	text-align: center;
	background: #000099;
	padding: 1px;
	margin: 2px;
	color: white;
	font-weight: bold;
	text-decoration:none;
	border-style:double;
}*/

img.feature_right {
	float: right;
	padding: 20px;
	border-style: normal;
}

img.feature_left {
	float: left;
	padding: 20px;
	border-style: normal;
}

.img {
	display:table-cell;
}

.link > a {
	color: white;
	text-decoration:none;
}

body {
	background-color: #403030;
	font-size: 92%;
}
